##################################################################
### SHARPCLAW: Synteny, Homology And Repeat Pre-curation ~~~~~ ###
###            for Chromosome-Level Assembly Workflows   ~~~~~ ###
### CONFIG FILE TEMPLATE v0.2.0                          ~~~~~ ###
### LAST EDIT: 15/04/25                                  ~~~~~ ###
### AUTHORS: Richard Edwards 2024                        ~~~~~ ###
### CONTACT: rich.edwards@uwa.edu.au                     ~~~~~ ###
##################################################################

# v0.1.0 : Initial working slurm version, developed for Ocean Genomes OG820.
# v0.2.0 : Updated for qqRargMite1 data.

#i# Edit the variables below prior to running the main sharpclaw.sh workflow.

####################################### ::: VARIABLES  ::: #############################################

### --- Setup sample and assembly details. The assembly prefix will be set by $ABASE --- ###
SAMPLE=qqRargMite1
ACODE=v250414ont
NEWBASE=$SAMPLE.$ACODE.2.sharpclaw
#i# Set the main output log file. Some programs will generate their own additional logs.
LOG=$NEWBASE.log
NEWLOG=FALSE
#i# $PREF1 and $PREF2 sets the prefix for all chromosomes, scaffolds and contigs. Must be different.
PREF1=RMITEH1
PREF2=RMITEH2
#i# $HAP1 and $HAP2 set the path to the input HAP1 and HAP2 genomes. The assemblies 
APATH=../1-phasing
HAP1=$APATH/$SAMPLE.$ACODE.1.hap1.fasta
HAP2=$APATH/$SAMPLE.$ACODE.1.hap2.fasta

### --- Set ODB10 or ODB12 database to be used for BUSCO or Compleasm --- ###
#i# Compleasm v0.2.7 need ODB12
ODB10=arachnida_odb12

### --- Set the raw data paths and types --- ###
FDIR=/srv/scratch/edwards/projects/active/SharpClaw-Aug24/examples/qqRargMite1/fastq
#i# $READS should be a set of long reads. $READTYPE is the matching type, e.g. hifi/ont/pacb
READS=$FDIR/ont/qqRargMite1.ont.fastq.gz
READTYPE=ont
#i# HiC reads should be given as compiled R1 and R2 files
HIC1=$FDIR/10x/qqRargMite1.10x.R1.fastq.gz
HIC2=$FDIR/10x/qqRargMite1.10x.R2.fastq.gz
#i# $KMERREADS should be a set of high accuracy reads, e.g. HiFi or Illumina. Can be a comma separated list.
KMERREADS=$HIC1,$HIC2
#i# Set $TRIM10X=T if the $KMERREADS are untrimmed 10x linked reads.
TRIM10X=F

### --- Setup Environment --- ###
#i# $SETUPENV should have any commands needed to setup the environment (such as loading modules), separating by ;
SETUPENV="source ~/miniconda3/etc/profile.d/conda.sh && conda activate depthsizer"
#i# The sharpclaw github should have been cloned somewhere and $SCRIPTDIR point to slurm, qsub or bash directories
#i# Comment out the unwanted methods to leave the correct $RUNCMD to run each stage.
SHARPCLAW=~/code/sharpclaw
EXECDIR=$SHARPCLAW/exec
#SCRIPTDIR=$SHARPCLAW/slurm; RUNCMD=sbatch
SCRIPTDIR=$SHARPCLAW/shell; RUNCMD=source
#SCRIPTDIR=$SHARPCLAW/qsub; RUNCMD=qsub
#i# The slimsuite github should have been cloned somewhere and $SLIMSUITE point to it.
SLIMSUITE=~/slimsuite
#i# $SING should point to the home of the singularity containers. 
# TO DO: Set container versions here.
MINIMAP2="minimap2"
COMPLEASM="conda run -n depthsizer compleasm"
BARRNAP="conda run -n annotation barrnap"
TIDK="conda run -n annotation tidk"
RSCRIPT="Rscript"
SAMTOOLS="samtools"
PAFTOOLS="paftools.js"
DEPTHCHARGE="conda run -n depthsizer python3 $SLIMSUITE/dev/depthcharge.py"
DEPTHKOPY="conda run -n depthsizer python3 $SLIMSUITE/tools/depthkopy.py"
SYNBAD="conda run -n depthsizer python3 $SLIMSUITE/tools/synbad.py"
DIPLOIDOCUS="conda run -n depthsizer python3 $SLIMSUITE/tools/diploidocus.py"
KAT="conda run -n kat kat"
PURGEHAPLOTIGS="conda run -n purge_haplotigs purge_haplotigs"
BBMAPPILEUP="conda run -n depthsizer pileup.sh"
PRETEXTMAP="conda run -n pretext PretextMap"
PRETEXTSNAPSHOT="conda run -n pretext PretextSnapshot"
PTCONDA=TRUE
BWA="conda run -n pairtools bwa"
PAIRTOOLS="conda run -n pairtools pairtools"
#i# LPATH sets the path to the ODB10 lineages for Compleasm
LPATH=/srv/scratch/edwards/projects/active/SharpClaw-Aug24/examples/qqRargMite1/compleasmdb

### --- SHARPCLAW workflow settings --- ###
#i# Set the number of CPUs and memory to request
NCPU=24; MEM=56
#i# QUEUEJOBS=TRUE/FALSE sets whether to queue PreText etc to run in the background.
QUEUEJOBS=FALSE
#i# $DEV will run special development options whilst working on the code
DEV=TRUE
#i# $RUNMODE will set how much of the pipeline to run. 
#i# -> Providing a step (e.g. "03-Diploid") will stop at that element.
#i# -> RUNMODE=BASIC will stop after the initial ChromSyn (equiv to "07-SimpleChromSyn")
#i# -> RUNMODE=FULL will run all the way to the end of the workflow
RUNMODE=FULL
#i# $PHASED will be TRUE or FALSE depending on whether the inputs are phased haplotypes (TRUE) or related primary genomes (FALSE)
PHASED=TRUE
#i# $MINCHROM sets the minimum length for a scaffold to be considered a chromosome (10 Mbp default)
MINCHROM=10000000
#i# $INVLIMIT and $TRIMLIMIT sets the size limits for trying to automatically fix telomeres with Telociraptor.
INVLIMIT=5    # Limit inversion distance to within X% (<=100) or Xbp (>100) of chromosome termini [25]
TRIMLIMIT=5   # Limit trimming distance to within X% (<=100) or Xbp (>100) of chromosome termini [5]
#i# DEPTHKOPYCN sets whether to run DepthKopy and use the predicted SN data in SynBad ChromSyn plots
#i# NOTE: DepthKopy can run into memory issues for assemblies with large chromosomes.
#i# -> Might want to skip this step rather than increase resources available.
DEPTHKOPYCN=TRUE
DKFORKS=8

### --- Dev settings (can be ignored for now) --- ###
#i# $MAXWAIT sets the maximum amount of time (hours -> seconds) to wait for the previous jobs to finish
#i# $SLEEP sets the amount of time to wait between checks for completion.
MAXWAIT=48
MAXWAIT=$(($MAXWAIT*3600))
SLEEP=5

####################################### ::: CHECKS  ::: #############################################

### --- Run file and environment checks --- ###
if [ "$NEWLOG" = "TRUE" ]; then
	echo "[$(date)] SHARPCLAW Config. New log: $LOG" | tee $LOG
else
	if [ ! -f "$LOG" ]; then
		echo "#==============#" | tee -a $LOG
	fi
	echo "[$(date)] SHARPCLAW Config. Append log: $LOG" | tee -a $LOG
fi

# Check files exist
ls -lrth $HAP1 $HAP2 ${READS/,/ } ${KMERREADS/,/ } $HIC1 $HIC2  | tee -a $LOG
# Check H1 and H2 differ
# Check for key containers
# Check key programs installed and run
ls -lrth $SCRIPTDIR $SLIMSUITE  | tee -a $LOG